@import "../../styles/settings";

.OverAllStatus {
  &-p {
    color: #fff;
    text-align: center;
  }
  &-success {
    background-color: $color-green;
  }
  &-error {
    background-color: $color-red;
  }
}